* {
  box-sizing: border-box;
}

body {
	background: #453769;
	font: 18px "Century Gothic", Futura, sans-serif;
	margin: 0;
	padding: 0;
}
a{
	color: #453769;
	text-decoration: none;
}
a:hover{
  background: #fef2fe;
}

/*====================================================*/
/* Top bar */
.top{
	display: flex;
	background: #edcedf;
	padding: 30px;
	text-align: center;
	border-bottom: 5px solid #453769;
}

/* Logo */
.logo{
	font-size: 40px;
	line-height:10%;
	margin-top: -14px;
	flex: 1;
}

/* Top navigation bar */
.top-nav{
	flex: 4;
	font-size: 18px;
	list-style-type: none;
	overflow: hidden;
	background: #edcedf;
}
.topnav-item{
  float: left;
}
.topnav-text {
	float: left;
	padding: 14px;
}
.extranav-item {
  float: right;
}
.topnav-item a, .extranav-item a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.topnav-item a:hover, .extranav-item a:hover {
  background: #563789;
  color: #FFFFFF;
}
/*====================================================*/



/*====================================================*/
/* Main content */
.main{
	display: flex;
}

/* Sidebar */
.side{
	background: #efeffe;
	flex: 1;
	text-align: center;
}
.side-link{
	padding: 15px;
	padding-right: 20px;
	padding-left: 20px;
	border-bottom: 2px solid #453769;
}

/* Game entry */
.page-background{
	background: #453769;
	flex: 8;
	padding: 20px;
}
.block{
	background: white;
	margin: 15px;
}
.padded{
	padding: 20px;
	float: left;
}

.page-title{
	font-size: 26px;
	padding: 10px 40px;
	font-weight: bold;
}

.clear-flex{
	display: flex;
	clear: both;
}

.randgame-blocks{
	padding: 20px;
	display: flex;
	flex: 2;
}

.extra{
	padding: 20px;
}

.suggestions-container{
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.suggestion-items{
	text-align: center;
	display: flex;
	flex-direction: column;
}

img{
	margin: 20px;
	width: 150px;
}
.img-large{
	width: 250px;
}
.img-thumb{
	width: 150px;
	height: 150px;
	object-fit: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*====================================================*/
.ebg{
	background: black;
	padding: 20px;
	height: 100vh;
  width: 100vw;
}
.et{
	background: black;
	color: #54A898;
	margin: 15px;
	font-size: 26px;
	padding: 10px 40px;
	font-weight: bold;
}
.pbl{
	background: black;
	color: #1744DB;
	text-shadow:
		0 0 7px #1744DB,
		0 0 10px #1744DB,
		0 0 21px #1744DB;
	margin: 15px;
}
.pl a{
	color: #54A898;
	text-shadow:
		0 0 7px #54A898,
		0 0 10px #304445;
	background: black;
}



/*====================================================*/
/* Footer */
.footer{
	background: #453769;
	color:#ffffff;
	padding: 10px;
	text-align: center;
}
/*====================================================*/