* {
  box-sizing: border-box;
}

body {
	background: #FFFFFF;
	font: 18px "Century Gothic", Futura, sans-serif;
	margin: 0;
	padding: 0;
}

/*====================================================*/
/* Top bar */
.top{
	display: flex;
	background: #FFFFFF;
	padding: 30px;
	text-align: center;
	border-bottom: 5px solid #000000;
}

/* Logo */
.logo{
	font-size: 40px;
	flex: 2;
}

/* Top navigation bar */
.top-nav{
	flex: 5;
	font-size: 18px;
	list-style-type: none;
	overflow: hidden;
	background: #FFFFFF;
}
.topnav-item {
  float: left;
}
.extranav-item {
  float: right;
}
.topnav-item a, .extranav-item a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.topnav-item a:hover, .extranav-item a:hover {
  background: #000000;
  color: #FFFFFF;
}
/*====================================================*/



/*====================================================*/
/* Footer */
.footer{
	background: #FFFFFF;
	padding: 10px;
	text-align: center;
}
/*====================================================*/